<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<appSettings>
		<add key="SipDomain" value="10.81.234.6"/>
		<add key="SipLogin" value="100"/>
		<add key="SipPassword" value="100"/>
		<add key="SipProtocolType" value=""/>
	</appSettings>
</configuration>